<h1>Famous Canadian Singers!</h1>
<%= @singers.inspect %>

<ul>
  <% @singers.each do |singers| %>
      <% if singers.name = present %>
        <li>
          <%  %>
        </li>
      <% end %>
    <% end %>
